# Created by .ignore support plugin (hsz.mobi)
/.idea
/src/output_a_example.txt
/src/output_b_read_on.txt
/src/output_c_incunabula.txt
/src/output_d_tough_choices.txt
/src/output_e_so_many_books.txt
/src/output_f_libraries_of_the_world.txt
/hashcode2020.iml
